@use "./variables" as *;
@use "./mixins" as *;

body {
  @include box($height: 100vh);
  font-family: 'Be Vietnam Pro';
  position: relative;
  background: url('./images/bg-tablet-pattern.svg') no-repeat;
  background-position: top right;
}

* {
  box-sizing: border-box;
}

p {
  line-height: 1.7;
  font-size: 16px;
}